.input-group {
  width: 300px;
  position: absolute;
  top: 15%;
  left: 50%;           
  transform: translateX(-50%);
}
.card{
    position: absolute; 
  top: 30%;            
  left: 50%;          
  transform: translateX(-50%);
}
.card-body{
  margin-top: 50px;
}
#content h3{
    color: rgb(0, 94, 145);
    position: absolute; 
  top: 45%;            
  left: 50%;          
  transform: translateX(-50%);
}
.dnone{
  display: none;
}